<header>
    <div id="logo">
        <img src="../../assets/images/camel-logo.png" alt="camel-logo">
        <h1>Sell Your <span id="camelSpan">Camel</span></h1>
    </div>
    <nav>
        <ul>
            <a href="http://localhost:4200"><li class="active"><img src="../../assets/images/home-icon.png" alt="home-icon"></li></a>
            <a href="http://localhost:4200/marketplace"><li><img src="../../assets/images/marketplace-icon.png" alt="home-icon"></li></a>
        </ul>
    </nav>

    <div id="userName">{{userEmail}}</div>
</header>
